@font-face {
  font-family: 'leters';
  src: url('../../../public/fonts/Hangedletters.ttf');
}
.container {
  width:100%;
  position:relative;
  background-image: url(https://wallpapers.com/images/hd/sage-green-laptop-wallpaper-cqs221t6dcy8rb52.jpg);
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-position: fixed;
  background-color: aqua;
}

.title {
  width: 100%;
  font-size: 24px;
  margin-bottom: 20px;
  text-align: center;
  color: white;
  text-shadow: 2px 2px black;
}

.button {
  width: 100%;
  padding: 10px 24px;
  margin-bottom: 10px;
  background: linear-gradient(to right top, #527e7b, #4a7771, #426f66, #3b685c, #356051);
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  display: flex;
  justify-content: start;
  align-items: center;
}

.button:hover {
  background: #28565e;
}

.alert {
  padding: 10px;
  border-radius: 5px;
  color: white;
}

.alertList {
  list-style: none;
  padding: 0;
  margin: 0;
}

.input {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ddd;
  border-radius: 5px;
  box-sizing: border-box;
}

.orText {
  width: 100%;
  text-align: center;
  font-size: 20px;
  margin-top: 40px;
  margin-bottom: 10px;
  color: white;
  text-shadow: 2px 1px black;
}

.providers {
  display: flex;
  flex-direction: column;
}

.providerButton {
  width: 100%;
  padding: 10px 24px;
  margin-bottom: 10px;
  background: linear-gradient(to right top, #527e7b, #4a7771, #426f66, #3b685c, #356051);
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  display: flex;
  justify-content: start;
  align-items: center;
  margin-top: 10px;
}

.providerButton:hover {
  background: #28565e;
}

/* Estilo para el mensaje de error */
.errorText {
  color: red;
  font-size: 14px;
  margin-bottom: 10px;
  font-weight: bold; /* Agrega negrita al mensaje de error */
}
.log{
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  background-image: url('../../../public/images/planta.png');
  background-size:90%;
  height: 100%;

}
.log h1{
  font-family: 'leters';
  font-size: 30px;
  color:white;
  padding-bottom: 30px;
}
