@font-face {
    font-family: 'fatBold';
    src: url(../../../../public/fonts/GasoekOne-Regular.ttf);
}
.rate {
    font-size: 10em;
    font-family: 'fatBold';
    background: url('https://i.pinimg.com/564x/1d/ac/52/1dac5208f74e9bb192b18f21588170a8.jpg');
    background-position: fixed;
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    
    }