@font-face {
    font-family: 'fatBold';
    src: url(../../../../public/fonts/GasoekOne-Regular.ttf);
}
.rate {
    font-size: 10em;
    font-family: 'fatBold';
    background: url('https://i.pinimg.com/474x/c2/15/26/c21526a01598618d77e305bbd81227f2.jpg');
    background-position: fixed;
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    
    }