.container {
  background-color: var(--bgSoft);
  padding: 20px;
  border-radius: 10px;
  margin-top: 20px;
}

.top {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.table {
  width: 100%;
}

.table td {
  padding: 10px;
  text-align: center;
}

.product {
  display: flex;
  align-items: center;
  gap: 20px;
}

.productImage {
  border-radius: 50%;
  object-fit: cover;
  width: 40px; /* Ancho fijo para las imágenes */
  height: 40px; /* Altura fija para las imágenes */
}

.buttons {
  display: flex;
  gap: 10px;
}

.button,
.buttonBottom {
  padding: 5px 10px;
  border-radius: 5px;
  color: var(--text);
  border: none;
  cursor: pointer;
}

.buttonBottom {
  border: 1px solid white;
  margin-right: 10px;
  margin-left: 10px;
  background-color: #011c2e;
}

.view {
  background-color: teal;
}

.delete {
  background-color: crimson;
}

.status,
.rol {
  border-radius: 40px;
  color: var(--textDashboard);
  text-align: center;
  display: flex;
  justify-content: center;
  gap: 10px;
}

.status.active {
  background-color: teal;
}

.status.paused {
  background-color: crimson;
}

.search {
  display: flex;
  align-items: center;
  gap: 10px;
  background-color: #2e374a;
  padding: 10px;
  border-radius: 10px;
}

.input {
  background-color: transparent;
  border: none;
  color: var(--textDashboard);
}

.button:disabled,
.buttonBottom:disabled {
  opacity: 0.5;
  cursor: not-allowed;
}

.table td {
  font-size: 16px;
}

.table .productColumn {
  font-size: 20px; 
}